# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Django
*.log
debug.log
db.sqlite3
*.sqlite3
db.sqlite3.backup

# Virtual environment
venv/
env/

# Environment variables
.env

# Temporary files
*.txt
*.zip
*.tgz
*.backup

# ngrok
ngrok
ngrok-*
*.ngrok

# IDE files
.idea/
*.swp

# macOS
.DS_Store
static/
staticfiles/
templates/
wsgi.py
*.bak
